@font-face {
    font-family: 'Wondar Quason Free';
    src: url('WondarQuasonFree-Regular.woff2') format('woff2'),
        url('WondarQuasonFree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

